<%- include('../includes/header') %>
<%- include('../includes/slider') %>
<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <h2>About Page</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic eaque aut illo obcaecati aliquam quia, blanditiis, quis ratione, sit distinctio modi esse. Quas assumenda et praesentium quae consectetur ea non?</p>
        </div>
    </div>
</div>
<%- include('../includes/footer') %>