<%- include('../includes/header') %>
<%- include('../includes/populer') %>
<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <h3>Contact Page</h3>
        </div>
    </div>
</div>
<%- include('../includes/footer') %>