<%- include('header') %>
        <div class="container mt-4" style="min-height: 700px;">
            <div class="row">
                <div class="col-md-12">
                    <h3>About Page</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, necessitatibus laborum. Ipsam, commodi voluptate corporis maxime expedita eligendi odio. Voluptate eum suscipit sequi? Ex hic cupiditate veritatis nam ratione accusantium.</p>
                    
                </div>
            </div>
        </div>
<%- include('footer') %>